<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Evil Dinner Ask</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
  </head>
  <body onmouseover="playSound()">
    <div class="container">
      <div id="label">You wanna go out with me?</div>
      <img src="../assets/please.gif" id="gif" />
      <div class="buttons">
        <button
          class="yes"
          id="yes"
          onclick="onClickYes()"
        >Yes
        </button>
        <button
          class="no"
          id="no"
          onmouseover="hoverNoButton()"
          onclick="onClickNo()"
        >No
        </button>
      </div>
    </div>

    <audio controls autoPlay loop id="audio">
      <source src="../assets/ReelAudio.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>

    <!--    <iframe src="assets/ReelAudio.mp3" allow="autoplay" style="display:none" id="iframeAudio">-->
    <!--    </iframe>-->
    <p>@theDev.me</p>
  </body>
  <script src="../scripts/script.js"></script>
</html>
